$blue:    #3ba5ec !default;
$green:   #33f55d !default;
$custom-color: rgb(240, 180, 16);

/* Colors-map - ... */
// $colors: (
//   "blue": $blue,
//   "green": $green
// );

/* Theme-color-variables - ... */
$primary: $blue !default;
$success: $green !default;
